@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root {
    --main-color: #06A52B;
    --main-color-hover: #22bb46;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}
.sidebar {
    width: 15%;
    position: fixed;
    left: 0;
    top:0 ;
    height: 100%;
    background:var(--main-color);
    z-index: 100;

}

.sidebar-brand{
    height: 70px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
}

.sidebar-brand span{
    display: 	inline-block;
    padding-right: 1rem;

}

.sidebar-menu {
    margin-top: 1rem;
}

.sidebar-menu li{
    width: 100%;
    margin-bottom: .5rem;
    padding-left: 1rem;
}

.sidebar-menu a{
    padding-left: 1rem;
    display:  block;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: #fff;
    font-size: .9rem;
    transition: all .1s ease;
}
.sidebar-menu a:hover{
    border-radius: 30px 0px 0px 30px;
    background: var(--main-color-hover);
}

.sidebar-menu a.active{
    background: #fff;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
}
.sidebar-menu a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
}

.main-content{
    margin-left: 15%;
    width:85%;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5x rgba(0, 0, 0, 0.2);
    /*background:#fff;*/
    position: fixed;
    width:85%;
    top: 0;
    z-index: 100;
}

header h2{
    color :#222;
}

header label span{
    font-size: 1.3rem;
    padding-right: 1rem;
}

.search-wrapper{
    border: 1px solid #ccc;
    border-radius:  30px;
    height:  50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper span {
    display: inline-block;
    padding: 0rem 1rem;
    font-size:  1.5rem;
}

.search-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}

.user-wrapper{
    display: flex;
    align-items: center;
}

.user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
}


.user-wrapper small{
    display: inline-block;
    color: var(--text-grey)
}
main{
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #e2e2e2;
    min-height: calc(100vh - 90px);
}

.cards{
    display:  grid;
    grid-template-columns: repeat(4 ,1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}

.card-single {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
}

.card-single div:last-child span{
    font-size: 3rem;
    color: var(--main-color);
}
.card-single div:first-child span{
    color: var(--main-color);
}

table{
    font-size:12px;
    border-collapse: collapse;
    width: 100%;
}
table td,th{
    padding: 4px;
}

/* Detalle guia styles */
.container{
    box-sizing: border-box;
    font-size: 15px;
    color: rgb(90, 90, 90);
    
}
.container b{
    font-size: 12px;
}
.container .grid-container{
    padding: 4px;
    display: grid;
    gap:3px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-auto-rows: 1fr;
    height: 60vh;
}
.container .grid-container .grid-item{
    background-color: #fff;
    padding: 5px;
}

.container .grid-container .grid-item:nth-child(5){
    grid-row: 2 / 2;
    grid-column: 1 / 3;
}
.container .grid-container .grid-item:nth-child(6){
    grid-column: 3 / 5;
}
.container .grid-container .grid-item:nth-child(7){
    grid-column: 1 / 5;
    display: flex;
    justify-content: center;
    height: 100%;
}
/* Detalle guia styles end*/

/* Modal styles */
.modal-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(2, 2, 2, 0.637);
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .3s ease-in-out;
}
.modal-container{
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;
    padding: 5px;
    width: 35%;
    height: 30vh;
    background-color: #fff;
    transform: scale(.3); 
    opacity: 0; 
    transition: all .3s ease;
}
.modal-background .modal-container .modal-title{
    width: 100%;
    height: 15%;
}
.modal-background .modal-container .modal-body{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.modal-background .modal-container .modal-body input{
    border:none;
    margin: 5px 0;
    border-bottom: 1px solid gray;
    height: 30px;
    outline: none;
}
.modal-background .modal-container .modal-footer{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.show-modal{
    opacity: 1;
    transform: scale(1);
}
.show-modal-bg{
    opacity: 1;
    z-index: 500;
}
.btn{
    width: 100px;
    height: 30px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    outline: none;
}
.btn:hover{
    background-color: var(--main-color-hover);
    cursor: pointer;
}
.row{
    width: 110px;
}