table{
    font-size:12px;
    border-collapse: collapse;
    width: 100%;
}
table td,th{
    padding: 4px;
}

/* Detalle guia styles */
.container-g{
    box-sizing: border-box;
    font-size: 15px;
    color: rgb(90, 90, 90);
    
}
.container-g b{
    font-size: 12px;
}
.container-g .grid-container-g{
    padding: 4px;
    display: grid;
    gap:3px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-auto-rows: 1fr;
    height: 60vh;
}
.container-g .grid-container-g .grid-item-g{
    background-color: #fff;
    padding: 5px;
}

.container-g .grid-container-g .grid-item-g:nth-child(5){
    grid-row: 2 / 2;
    grid-column: 1 / 3;
}
.container-g .grid-container-g .grid-item-g:nth-child(6){
    grid-column: 3 / 5;
}
.container-g .grid-container-g .grid-item-g:nth-child(7){
    grid-column: 1 / 5;
    display: flex;
    justify-content: center;
    height: 100%;
}
/* Detalle guia styles end*/

/* Modal styles */
.modal-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(2, 2, 2, 0.637);
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .3s ease-in-out;
}
.modal-container{
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;
    padding: 5px;
    width: 35%;
    height: 35vh;
    background-color: #fff;
    transform: scale(.3); 
    opacity: 0; 
    transition: all .3s ease;
}
.modal-background .modal-container .modal-title{
    width: 100%;
    height: 15%;
}
.modal-background .modal-container .modal-body{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.modal-background .modal-container .modal-body input{
    border:none;
    margin: 5px 0;
    border-bottom: 1px solid gray;
    height: 30px;
    outline: none;
}
.modal-background .modal-container .modal-footer{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.show-modal{
    opacity: 1;
    transform: scale(1);
}
.show-modal-bg{
    opacity: 1;
    z-index: 700;
}
.btn{
    width: 100px;
    height: 30px;
    background-color: blue;
    color: #fff;
    border: none;
    outline: none;
}
.btn:hover{
    background-color: skyblue;
    cursor: pointer;
}
.row{
    width: 110px;
}