.center {
    text-align:center;
    height: 45px;
    width: 615px;
    margin-left: 352px;
    margin-top: 0px;
}
.container {
    height: 200px;
    position: relative;
    border: 3px solid green;
}

.titles {
    text-align: center;
    height: 78px;
    width: 615px;
    margin-left: 347px;
    margin-top: 0px;
    font-size : 50px;
    margin-bottom: 0px;
}

.titles1 {
    text-align: center;
    height: 19px;
    width: 615px;
    margin-left: 352px;
    margin-top: 0px;
    font-size: 20px;
}

.estilo2 {
    height: 336px;
    position: relative;
    border: 3px solid green;
    top: 5px;
    left: -4px;
    width: 281px;
    margin-top: 0px;
}
}